# app

PORT=5000


# database url

DATABASE_URL=

# cors options

FRONTEND_URL=http://localhost:3000


# jwt_options

JWT_SECRET=
JWT_EXPIRES_IN=


#  google keys 


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=


# mail keys

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=